:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #3861FB;
    --primary-hover: #3055d9;
    --secondary: #EFF2F5;
    --secondary-hover: #d4d7d9;
    --green: #16c784;
    --green-hover: #13ad72;
    --red: #ea3943;
    --red-hover: #d1323d;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 600px;
    /* height: 800px; */
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--black);
}

.container-w50 {
    width: 50%;
    /* height: 220px; */
    background-color: white;
    border: 1px solid var(--black);
}

.container-w100 {
    width: 100%;
    height: 220px;
    background-color: var(--white);
}

#portfolio-container, #exchanges-container {
    background-color: var(--white);
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

.pad-xy-8 {
    padding: 8px;
}

.topic {

    text-align: center;
    display: block;
    font-size: 20px;
}

.m-top-8 {
    margin-top: 8px;
}

#exchanges-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 47%;
    border: none;
    padding: 16px 0;
    border-radius: 12px;
    background-color: var(--secondary);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.buttons:hover {
    background-color: var(--secondary-hover);
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white)
}

.primary-btn:hover {
    background-color: var(--primary-hover);
}

#exchange-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.m-top16 {
    margin-top: 16px;
}

.m-bot16 {
    margin-top: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    /* background-color: #3055d9; */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--secondary);
    cursor: pointer;
}

th:nth-child(3), td:nth-child(3) {
    text-align: right;
    border-bottom: 1px solid var(--secondary);
    cursor: pointer;
}

tr:hover {
    background-color: var(--secondary-hover);
}

table img {
    width: 20px;
}

.logo-name-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.exchange-supply-container {
    height: 438px;
}

#trade-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.trade-menu {
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50% - 150px);
    width: 360px;
    
    background-color: white;
    border-radius: 16px;
    padding: 8px;
}

.buy-info-box {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--primary);
    border-radius: 8px;
    color: var(--white);
    margin: 8px 0;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

.btn-trade-menu {
    width: 64px;
    margin: 16px 0;
}

.d-gap {
    gap: 16px;
}

.buy-sell-btn {
    padding: 16px 64px;
    display: flex;
    justify-content: center;
}

.color-green {
    background-color: var(--green);
    color: var(--white);
}

.color-green:hover {
    background-color: var(--green-hover);
}

.color-red {
    background-color: var(--red);
    color: var(--white);
}

.color-red:hover {
    background-color: var(--red-hover);
}

.game-end{
    padding: 16px;
    background-color: var(--secondary);
    border-radius: 8px;
    color: var(--black);
    margin: 8px 0;
    font-size: 14px;
}

.btn-options {
    width: 140px;
    margin: 16px 0;
}

.flex-1 {
    flex: 1;
}

.finance-button {
    width: 112px;
    padding: 16px;
    border-radius: 8px;
    color: var(--black);
    margin: 8px 0;
    font-weight: 400;
    font-size: 16px;
}


input[type=range] {
    width: 100%;
    margin: 24px 8px;
    cursor: pointer;
    accent-color: var(--primary);
}