:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #3861FB;
    --primary-hover: #3055d9;
    --secondary: #EFF2F5;
    --secondary-hover: #d4d7d9;
    --green: #16c784;
    --red: #ea3943;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 600px;
    /* height: 800px; */
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--black);
}

.container-w50 {
    width: 50%;
    /* height: 220px; */
    background-color: white;
    border: 1px solid var(--black);
}

.container-w100 {
    width: 100%;
    height: 220px;
    background-color: var(--white);
}

#portfolio-container, #exchanges-container {
    background-color: var(--white);
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

.pad-xy-8 {
    padding: 8px;
}

.topic {

    display: block;
    font-size: 20px;
}

#exchanges-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 47%;
    border: none;
    padding: 16px 0;
    border-radius: 12px;
    background-color: var(--secondary);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.buttons:hover {
    background-color: var(--secondary-hover);
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white)
}

.primary-btn:hover {
    background-color: var(--primary-hover);
}

#exchange-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.m-top16 {
    margin-top: 16px;
}

.m-bot16 {
    margin-top: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    /* background-color: #3055d9; */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--secondary);
    cursor: pointer;
}

th:nth-child(3), td:nth-child(3) {
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid var(--secondary);
    cursor: pointer;
}

tr:hover {
    background-color: var(--secondary-hover);
}

table img {
    width: 20px;
}

.logo-name-box {
    display: flex;
    align-items: center;
    gap: 8px;
}
